{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<header class="header">
	{% block header %}
		<div class="wrapper">
			<nav id="nav-main" class="nav-main" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav>
			<!-- #nav -->
		</div>
	{% endblock %}
</header>

<section id="main_menu" role="main" class="content-wrapper">
	{% if title %}
		<h1>{{title}}</h1>
	{% endif %}
	<div class="wrapper {{sidebar_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
</section>

{% block footer %}
	{% include "components/footer_cta.twig" %}

		{% include 'footer.twig' %}

	{{ function('wp_footer') }}
{% endblock %}</body></html>
