<section  class="footer_cta" style="background-image: url({{ Image(yellow_background).src }});">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="footer_cta_card">
                    <h2>There's never been a better time to start.</h2>
                    <p class="h1 underlined underlined_alt">The time is <span>now.</span></p>
                    <a href="#" class="skew_button skew_button_yellowed">TALK TO US<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>